* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 8pt;
}
@page {
  size: A4;
  margin: 2cm 1.5cm 2.5cm 1.5cm;
}
.page header {
  text-align: center;
  margin-bottom: 0.5in;
}
.page h1, .page h2, .page h3, .page h4, .page h5, .page h6 {
  page-break-after: avoid;
}
.page h1, .page h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  page-break-before: always;
}
.page h1 {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: normal;
  color: #404041;
  margin-bottom: 0.15in;
}
.page header hr {
  width: 3in;
  border: none;
  border-top: 2pt solid #f7931d;
  margin: auto auto 0.1in auto;
}
.page header time {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-style: italic;
  margin: auto;
}
.page section {
  position: relative;
  margin-bottom: 0.4in;
}
.page section .heading {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, auto) 1fr;
  grid-gap: 0.3cm;
  margin: 1cm auto;
}
.page section h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #000;
  line-height: 0pt;
  display: inline;
  background: rgb(254, 254, 254);
  letter-spacing: 0.1em;
}
.page section .heading span {
  border-bottom: 2.5pt solid #d8c5ba;
  display: block;
}
.page section h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.7rem;
  text-transform: capitalize;
  font-weight: bold;
  color: #000;
  padding-left: 0.1in;
  border-left: 8pt solid #404041;
  margin-bottom: 6.6mm;
}
.page section table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5cm;
}
.page section table thead tr {
  border-bottom: 2pt solid #9a8478;
}
.page section table tbody tr {
  border-bottom: 1pt solid #7f7f7f;
}
.page section table th {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #58585b;
  text-align: left;
  padding: 0.75rem;
}
.page section table td {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
  font-size: 1.1rem;
  color: #000;
  text-align: left;
  padding: 0.75rem;
}
.page td progress {
  width: 4cm;
  height: 0.5cm;
  display: block;
  margin-left: auto;
  margin-right: 0;
}
.page figure {
  page-break-inside: avoid;
}
.page .nobreak {
  page-break-inside: avoid;
}
.page .nobreak-after {
  page-break-after: avoid;
}
.break-before {
  page-break-before: always;
}
.page .figure {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #594a41;
  margin-bottom: 0.2in;
  display: inline-block;
  margin-right: 0.3cm;
  position: relative;
}
.page .figure sup {
  font-size: 0.7em;
  line-height: 0;
  top: -0.3em;
  position: relative;
  vertical-align: baseline;
  font-weight: 750;
}
.page .figure sup.pos {
  color: yellowgreen;
}
.page .figure sup.neg {
  color: rgb(205, 50, 50);
}
.page .figure h4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.6em;
  color: #6d6e70;
  margin-bottom: 0.1in;
  text-overflow: ellipsis;
}
.page .figure .lbl {
  font-weight: 1000;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #808284;
  margin-bottom: 0.1in;
}
.page .figure .lbl.light {
  font-weight: 500;
  font-size: 0.6em;
}
.page .figure hr.emp {
  width: 0.8in;
  border: none;
  border-top: 1pt solid #f7931d;
}
.page .figure-v1 {
  font-size: 2.5em;
  font-weight: 100;
}
.page .figure-v2 {
  font-size: 2.5em;
  font-weight: 500;
}
.page .figure-v3 {
  font-size: 1.9em;
}
.page .figure-v4 {
  font-size: 2.1em;
  font-weight: 500;
}

.page .report-grid {
  display: grid;
  grid-gap: 0.5cm;
  margin-bottom: 0.6cm;
}
.page .grid-01 {
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-areas:
    "a b c"
    "d d c";
}

.page .grid-01-a {
  grid-area: a;
}
.page .grid-01-b {
  grid-area: b;
}
.page .grid-01-c {
  grid-area: c;
  border-left: 0.5pt solid #9a8478;
}
.page .grid-01-d {
  grid-area: d;
}
.page .grid-02 {
  grid-template-columns: repeat(2, 1fr);
}
.page .grid-02 .figure {
  min-width: 6em;
}
.page .grid-03 {
  grid-template-columns: repeat(3, 1fr);
  font-size: 0.8em;
}
.page .grid-03 .figure {
  min-width: 5em;
}
.page .grid-04 {
grid-template-columns: 1fr 2fr;
  font-size: 0.8em;
}
.page .grid-04 .figure {
min-width: 40%;
}
